name: CI - DVC + AWS

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      # ✅ DEBUG STEP 1
      - name: Who am I (AWS identity)?
        run: aws sts get-caller-identity

      # ✅ DEBUG STEP 2
      - name: Test S3 access (list)
        run: aws s3 ls s3://my-bucket-dvc-nour-2026/dvc-storage/ --region eu-west-3

      - name: DVC pull
        run: |
          dvc pull

      - name: Run script
        run: |
          python script.py
